flows.json
[{"id":"600c51fe.883038","type":"function","z":"33d8b9eb.8128c6","name":"Process results","func":"result=[];\nmsg.result.images[0].classifiers.forEach(function(current_value, index, initial_array) {\n          current_value.classes.forEach(function(current_value,index,initial_array){\n              result.push(current_value.class);\n          });\n        });\nmsg.verbal=result.toString();\nmsg.addr = global.get('addr').toString();\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["a9cb967.e833a68"]]},{"id":"ed62df8a.3fdfe","type":"http in","z":"33d8b9eb.8128c6","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":92.53521728515625,"y":73.96432495117188,"wires":[["8a4b54cf.2ab918"]]},{"id":"8a4b54cf.2ab918","type":"template","z":"33d8b9eb.8128c6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<button onclick=\"getLocation()\">Tag Location</button>\n<p id=\"demo\"></p>\n\n<script>\nvar x = document.getElementById(\"demo\");\n\nfunction getLocation() {\n  if (navigator.geolocation) {\n    navigator.geolocation.getCurrentPosition(showPosition);\n  } else { \n    x.innerHTML = \"Geolocation is not supported by this browser.\";\n  }\n}\n\nfunction showPosition(position) {\n  x.innerHTML = \"Latitude: \" + position.coords.latitude + \n  \"<br>Longitude: \" + position.coords.longitude;\ndocument.getElementById('lat').value = position.coords.latitude;\ndocument.getElementById('long').value = position.coords.longitude;\n  \n}\n</script>\n<center>\n    <h1>Upload an image here:</h1>\n<form action=\"/uploadsimple_post\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" />\n    <input id=\"lat\" name=\"lat\" type=\"hidden\" value=\"0\"/>\n    <input id=\"long\" name=\"long\" type=\"hidden\" value=\"0\" />\n    <input type=\"submit\" value=\"Submit\">\n</form>\n</center>","output":"str","x":295.39251708984375,"y":81.10711669921875,"wires":[["e28f9695.4a904"]]},{"id":"e28f9695.4a904","type":"http response","z":"33d8b9eb.8128c6","name":"","x":455.39251708984375,"y":81.10711669921875,"wires":[]},{"id":"bd00c6a1.b8cc","type":"http response","z":"33d8b9eb.8128c6","name":"","statusCode":"","headers":{},"x":1014.8567810058594,"y":486.6428527832031,"wires":[]},{"id":"222e0c85.65d004","type":"template","z":"33d8b9eb.8128c6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<center>\n<h1>Image Analysed!</h1>\n<pre>\n{{{payload}}}\n</pre>\n<h4>Classification results:</h4>\n<p>{{verbal}}</p>\n<p><i>At {{addr}}</i></p>\n<h1>{{action}}</h1>\n\n</center>","output":"str","x":930.4916687011719,"y":420.1945495605469,"wires":[["bd00c6a1.b8cc"]]},{"id":"9459dc31.70e5c8","type":"function","z":"33d8b9eb.8128c6","name":"process image output","func":"if (msg.req.files[0].mimetype.includes('image')) {\n    msg.payload = `<img src=\"data:image/gif;base64,${msg.payload.toString('base64')}\">`;\n} else {\n    msg.payload = msg.payload.toString();\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":744.6426086425781,"y":362.4286193847656,"wires":[["222e0c85.65d004","f2df616d.8f2408"]]},{"id":"b8fef5b0.f302a8","type":"http in","z":"33d8b9eb.8128c6","name":"","url":"/uploadsimple_post","method":"post","upload":true,"swaggerDoc":"","x":104.6781005859375,"y":167,"wires":[["fcb39b11.ac3c08","9ef271ed.4c7428"]]},{"id":"fcb39b11.ac3c08","type":"change","z":"33d8b9eb.8128c6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":105.03536987304688,"y":266.4642333984375,"wires":[["59150f88.3376a","28c303b5.d3be14"]]},{"id":"59150f88.3376a","type":"visual-recognition-v3","z":"33d8b9eb.8128c6","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":303.392578125,"y":298.6071472167969,"wires":[["600c51fe.883038"]]},{"id":"a9cb967.e833a68","type":"function","z":"33d8b9eb.8128c6","name":"trigger action","func":"if (msg.verbal.includes(\"fire\")){\n    msg.action=\"Fire Detected:Triggering Fire rescue\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":710.3926086425781,"y":249.67852783203125,"wires":[["9459dc31.70e5c8"]]},{"id":"f2df616d.8f2408","type":"switch","z":"33d8b9eb.8128c6","name":"","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"Fire","vt":"str"}],"checkall":"true","outputs":1,"x":946.8210144042969,"y":332.53570556640625,"wires":[["9c0a0bb0.d97b88"]]},{"id":"9c0a0bb0.d97b88","type":"function","z":"33d8b9eb.8128c6","name":"","func":"var msg;\nmsg.payload=\"1\";\nreturn msg;","outputs":1,"noerr":0,"x":1081.1066589355469,"y":255.39285278320312,"wires":[[]]},{"id":"e1b4f730.dfbae","type":"inject","z":"33d8b9eb.8128c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":229.33999633789062,"y":431.1595153808594,"wires":[["ad7c23bf.d6697"]]},{"id":"ad7c23bf.d6697","type":"function","z":"33d8b9eb.8128c6","name":"","func":"global.set('lat',\"2\");\n","outputs":1,"noerr":0,"x":370.3399963378906,"y":393.259521484375,"wires":[[]]},{"id":"36a0824b.0a2ad6","type":"http request","z":"33d8b9eb.8128c6","name":"","method":"GET","ret":"obj","url":"","tls":"","x":470.0733337402344,"y":203.40951538085938,"wires":[["f420c16.183eac"]]},{"id":"28c303b5.d3be14","type":"function","z":"33d8b9eb.8128c6","name":"","func":"if (msg.req.body.lat!== 0){\nmsg.url=\"https://us1.locationiq.com/v1/reverse.php?key=6be2954a217da2&lat=\"+msg.req.body.lat+\"&lon=\"+msg.req.body.long+\"&format=json\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":301.0733337402344,"y":229.67617797851562,"wires":[["36a0824b.0a2ad6"]]},{"id":"f420c16.183eac","type":"function","z":"33d8b9eb.8128c6","name":"","func":"global.set('addr',msg.payload.display_name);\nreturn msg;","outputs":1,"noerr":0,"x":668.0733337402344,"y":182.07618713378906,"wires":[[]]},{"id":"9ef271ed.4c7428","type":"function","z":"33d8b9eb.8128c6","name":"","func":"global.set('addr','Not Available');\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[[]]}]
